@model IEnumerable<TicketProject.Models.Ticket>

@*Dirty -> Scripts should be in separate file and BundleConfig*@
@section Scripts
{
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var oTable = $('#ticketTable').DataTable({
                ajax: {
                    url: '/Tickets/GetTickets',
                    type: "get",
                    datatype: "json"
                },
                order: [[0, 'desc']],
                columns: [
                    { data: "Erstellung", "autoWidth": true },
                    { data: "Kategorie", "autoWidth": true },
                    { data: "Software", "autoWidth": true },
                    { data: "KundenName", "autoWidth": true },
                    { data: "Zustaendig", "autoWidth": true },
                    { data: "Status", "autoWidth": true },
                    { data: "Beschreibung", "autoWidth": true },
                    { data: "TicketID", "visible": false },
                    { defaultContent: '<button class="btn btn-info" id="btnEdit">Bearbeiten</button>', searchable: false },
                    { defaultContent: '<button class="btn btn-danger" id="btnDelete">Löschen</button>', searchable: false }
                         ]
                     })

         $(function () {
            $('#dialog').dialog({
                autoOpen: false,
                width: 400,
                resizable: false,
                title: '',
                modal: true,
                buttons: {
                    "Schließen": function () {
                        $(this).dialog("close");
                    }
                }
            });

             //show  newTicket
            $('#newTicket').click(function () {
                //Load the Create action which will return the partial view Create
                $('#dialog').load("@Url.Action("Create")",
                    function (response, status, xhr) {
                        $('#dialog').dialog('open');
                    });
            });

             //show Edit
             $('#ticketTable tbody').on('click', '#btnEdit', function () {
                 var data = oTable.row($(this).parents('tr')).data();
                 $('#dialog').load("/Tickets/Edit/" + data.TicketID,
                     function (response, status, xhr) {
                         $('#dialog').dialog('open');
                     });
             });

             //Show Delete
             $('#ticketTable tbody').on('click', '#btnDelete', function () {
                 var data = oTable.row($(this).parents('tr')).data();
                 $('#dialog').load("/Tickets/Delete/" + data.TicketID,
                     function (response, status, xhr) {
                         $('#dialog').dialog('open');
                     });
             });
        });
        })

        //Edit
        $(document).on("click", '#editSpeichern', function (event) {
            var form = $('#editForm');

            $.validator.unobtrusive.parse(form);
            form.validate();

            if (!form.valid())
                return

            $.post('/Tickets/Edit/', form.serializeArray(),
                function (data, status) {
                    if (!data.error) {
                        $('#dialog').dialog('close');
                        $('#ticketTable').DataTable().ajax.reload();
                    }
                });

        });

        //new Ticket
        $(document).on("click", '#newTicketSpeichern', function (event) {
            var form = $('#newForm');

            $.validator.unobtrusive.parse(form);
            form.validate();

            if (!form.valid())
                return

            $.post('/Tickets/Create/', form.serializeArray(),
                function (data, status) {
                    if (!data.error) {
                        $('#dialog').dialog('close');
                        $('#ticketTable').DataTable().ajax.reload();
                    }
                });
        });

        //delete Ticket
        $(document).on("click", '#ticketDelete', function (event) {
            var form = $('#deleteForm');

            $.validator.unobtrusive.parse(form);
            form.validate();

            if (!form.valid())
                return

            $.post('/Tickets/Delete/', form.serializeArray(),
                function (data, status) {
                    if (!data.error) {
                        $('#dialog').dialog('close');
                        $('#ticketTable').DataTable().ajax.reload();
                    }
                });
        });

    </script>
}

<div id="dialog" style="overflow: hidden;"></div>


<h3>Kundensupport</h3>
<button class="btn btn-primary" id="newTicket">Neues Ticket</button>
<hr />


<div class="tablecontainer">

    <table id="ticketTable">
        <thead>
            <tr>
                <th>Erstellt</th>
                <th>Kategorie</th>
                <th>Software</th>
                <th>Kunden name</th>
                <th>Zustaendig</th>
                <th>Status</th>
                <th>Beschreibung</th>
                <th>TickedID</th> @*hidden*@
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>

