<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6731f4ba-abf5-4493-901b-77b67da6d33e/resourceGroups/ticket777/providers/Microsoft.Web/sites/ticket777</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ticket777.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ticket777.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ticket777</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ticket777</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TicketProject" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ticketproject7dbserver.database.windows.net,1433;Initial Catalog=TicketProject7_db;Persist Security Info=False;User ID=Silvijo;Password=Njemack@7;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ticketproject7dbserver.database.windows.net,1433;Initial Catalog=TicketProject7_db;Persist Security Info=False;User ID=Silvijo;Password=Njemack@7;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TicketProject.Models.TicketProjectContext, TicketProject" MigrationConfiguration="TicketProject.Migrations.Configuration, TicketProject" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TicketProject-Web.config Connection String">
      <ParameterValue>Server=tcp:ticketproject7dbserver.database.windows.net,1433;Initial Catalog=TicketProject7_db;Persist Security Info=False;User ID=Silvijo;Password=Njemack@7;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TicketProject" />
  </ItemGroup>
</Project>